.container.h-100.mt-3.show_user
  .row.d-flex.justify-content-center.align-items-center.h-100
    .col-lg-12.col-xl-11
      .card.text-black{style: "border-radius: 25px;"}
        .card-body.p-md-5
          .row.justify-content-center
            .col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1
              %p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4
                = t('.title')
              .d-flex.flex-row.align-items-center.mb-4
                %b.me-3= t('.avatar')
                = gravatar_for @user
              .d-flex.flex-row.align-items-center.mb-4
                %b.me-3= t('.name')
                = @user.name
              .d-flex.flex-row.align-items-center.mb-4
                %b.me-3= t('.email')
                = @user.email
              .d-flex.justify-content-center.mx-4.mb-3.mb-lg-4
                - if signed_in?
                  = link_to t('.work'), work_path, class:"btn btn-lg btn-dark"
                - else
                  = link_to t('.sign_in'), signin_path, class:"btn btn-lg btn-dark"